body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
}

.letter.cursor {
    border-left: 1px solid #fff; /* Черный вертикальный курсор */
    animation: blink 0.7s infinite step-end; /* Эффект мигания */
}

@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #fff;
    }
}

.container {
    text-align: center;
}

.text {
    font-size: 24px;
    margin-bottom: 20px;
}

.letter {
    color: gray;
}

.correct {
    color: white;
}

.incorrect {
    color: red;
}